* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}

header {
    font-family: 'Roboto', sans-serif;
}

.header__top {
    background-color: #1fa0b5;
}

.header__btn {
    float: right;
    line-height: 36px;
    color: #fff;
    background-color: #242765;
    padding: 5px 20px 4px 20px;
    font-size: 16px;
    display: block;
    position: relative;
}

.header__contacts:after {
    content: "";
    clear: both;
    display: block;
}

.header__phone,
.header__email {
    color: #000;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}

.header__phone {
    padding-left: 20px;
    padding-right: 30px;
}

.header__phone:before {
    content: "\f095";
    position: absolute;
    left: 0;
    color: #000;
    font-family: "icomoon";
}

.header__email {
    padding-left: 24px;
}

.header__email:before {
    content: "\f003";
    position: absolute;
    left: 0;
    color: #000;
    font-family: "icomoon";
}

.header__content {
    padding: 20px 0px 20px;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
}

#login {
    display: none;
}

#registration {
    display: none;
}

#logout {
    display: none;
}

.footer__copy {
    background-color: #303030;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.footer__content {
    background-color: #1fa0b5;
    padding: 20px 0px 30px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__btn {
    float: right;
    line-height: 36px;
    color: #fff;
    background-color: #242765;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    display: block;
    position: relative;
}

.footer__btn:before {
    content: "\f0b1";
    position: absolute;
    left: 22px;
    color: #fff;
    font-family: "icomoon";
}

.footer__inner .footer__btn {
    float: none;
    display: inline-block;
}

.footer__map {
    padding-top: 10px;
    max-width: 630px;
    width: 100%;
}

.footer__map iframe {
    width: 100%;
}

.footer__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #242765;
    line-height: 32px;
    letter-spacing: 0.5px;
}

.footer__text {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 10px 0px;
}

.footer__info {
    max-width: 360px;
}

.footer__list a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #000;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-left: 33px;
    position: relative;
}

.footer__list a:before {
    content: '\f003';
    position: absolute;
    left: 0;
    color: #242765;
    font-family: 'icomoon';
}

.footer__list .footer__phone:before {
    content: "\f095";
    left: 3px;
}

.footer__list .footer__adress:before {
    content: "\f041";
    left: 3px;
}

#login {
    width: 300px;
}

#login input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#login input[type="submit"] {
    background-color: #1fa0b5;
    border: none;
}

.header__btn-menu {
    display: none;
    font-size: 28px;
}

.reg__account {
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.reg__account-link {
    color: #050505;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #050505;
}

#registration {
    width: 300px;
}

#registration input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#registration input[type="submit"] {
    background-color: #1fa0b5;
    border: none;
}

#logout {
    width: 300px;
}

#logout a {
    line-height: 36px;
    color: #fff;
    background-color: #242765;
    padding: 5px 20px 4px 20px;
    font-size: 16px;
    display: block;
    position: relative;
    text-align: center;
}

.message {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: small;
    color: #ff0000;
}
