<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Фурнітура</title>
    <link rel="icon" href="img/icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,500&amp;subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/services_style.css">
    <link rel="stylesheet" href="css/media.css">
</head>
<body>
<header class="header">
    <div th:insert="blocks/header :: header"></div>
</header>

<section class="about">
    <div class="container">
        <div class="about__top">
            <div class="about__title-box">
                <div class="about__title">
                    Товари для рукоділля та шиття
                </div>
                <div class="about__text">
                    Створюючи речі власними руками, ми залишаємо на них свій знак, почерк, стиль, любов, настрій…
                    Оточені власними творіннями, ми пізнаємо і дозволяємо пізнати себе справжніх. Даруючи, виявляємо
                    власні почуття.
                </div>
            </div>
            <div class="about__btn">
                <a href="/">
                    На головну
                </a>
            </div>
        </div>
        <div class="about__content">
            <p>
                Фурнітура — слово, що зустрічається в нашому повсякденному житті. Присутній в різних сферах: швейної,
                кулінарної, обробної, промислової, побутової, повсякденної, віконної, галантерейної, меблевої. Фурнітура
                необхідна для створення комплексного готового виробу, елемента. Пропоную звернути увагу на швейну
                фурнітуру.
            </p>
            <p>
                Швейна фурнітура — категорія, яка займає особливе місце в житті людини, пов'язаного зі створенням
                нового, досконалого. Одяг — невіддільна частина нашого способу і стилю. Щодня, одягаючи річ, ми не
                помічаємо маленькі атрибути краси. Те, що змушує звернути увагу або вибрати одяг, аксесуар.
                Різноманітність швейної фурнітури в модному середовищі вражає. Вона виготовляється з різноманітних
                матеріалів. Існує металева фурнітура, пластикова фурнітура, комбінована, стрічкові матеріали, блискавки,
                слайдери, нитки, волосінь, дріт, прикраси, біжутерія, голки, шпильки, фурнітура для в'язання, ґудзик,
                кнопки, бирки, логотипи, шеврони, кравецькі приналежності, пакування, бокси, меблі.
            </p>
            <p>
                Творчий потенціал від самого початку закладений в кожній людині. Бажання створювати привабливі вироби
                час від часу спалахує приємним, хвилюючим полум'ям, це почуття підносить нас вгору, дарує відчуття
                свободи і п'янкого польоту. Завдяки цій особливості світ навколо нас наповнюється прекрасними витворами
                людського генія - зразками мистецтва, різними, але особливими і привабливими. Щоб ви змогли приділяти
                більше часу улюбленому хобі, ми пропонуємо вам свої послуги. Всі необхідні товари і корисні
                дрібниці для творчості і рукоділля доступні вашій увазі у нашому Ательє.
            </p>
        </div>
    </div>
</section>

<footer>
    <div th:insert="blocks/footer :: footer"></div>
</footer>

<div th:insert="blocks/forms :: login"></div>
<div th:insert="blocks/forms :: registration"></div>
<div th:insert="blocks/forms :: logout"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>