<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Головна сторінка</title>
    <link rel="icon" href="img/icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,500&amp;subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/jquery.formstyler.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
</head>

<body onload="onBodyLoad();">
<header class="header">
    <div th:insert="blocks/header :: header"></div>
    <div class="header__content">
        <div class="container">
            <div class="header__content-inner">
                <div class="header__logo">
                    <a href="/">
                        <img height="36" src="img/logo.png" alt="">
                    </a>
                </div>
                <nav class="menu">
                    <div class="header__btn-menu">
                        <span class="icon-bars"></span>
                    </div>
                    <ul>
                        <li><a href="#slider" rel='m_PageScroll2id'>Головна</a></li>
                        <li><a href="#services" rel='m_PageScroll2id'>Послуги</a></li>
                        <li><a href="#about" rel='m_PageScroll2id'>Про нас</a></li>
                        <li><a href="#news" rel='m_PageScroll2id'>Відгуки та новини</a></li>
                        <li><a href="#form" rel='m_PageScroll2id'>Залишити відгук</a></li>
                        <li><a href="#footer" rel='m_PageScroll2id'>Контакти</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<section id="slider" class="slider">
    <div class="container">
        <div class="slider__inner">
            <div class="slider__item">
                <div class="slider__item-content">
                    <div class="slider__title">
                        РЕСТАВРАЦІЯ ПОДУШОК
                    </div>
                    <div class="slider__text">
                        Ваші подушки втратили форму? З них висипається перо? Негарний зовнішній вигляд? Ми пропонуємо
                        вам їх оновити!
                    </div>
                    <a href="/pillow" class="slider__btn default-btn">
                        Детальніше
                    </a>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item-content">
                    <div class="slider__title">
                        ПОШИВ ТА РЕМОНТ ОДЯГУ
                    </div>
                    <div class="slider__text">
                        Не знаєте чим прикрасити свій гардероб? Можливо, у вас є улюблені речі, які втратили колишню
                        красу? Дайте своєму одягу нове життя!
                    </div>
                    <a href="/repair" class="slider__btn default-btn">
                        Детальніше
                    </a>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item-content">
                    <div class="slider__title">
                        ПОСТІЛЬНА БІЛИЗНА
                    </div>
                    <div class="slider__text">
                        Купити за ціною виробника.
                        Акуратний пошив. Великий вибір.
                        У Вас є унікальна можливість зібрати свій індивідуальний комплект постільної білизни потрібних
                        розмірів.
                    </div>
                    <a href="/linens" class="slider__btn default-btn">
                        Детальніше
                    </a>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item-content">
                    <div class="slider__title">
                        ТОВАРИ ДЛЯ РУКОДІЛЛЯ
                    </div>
                    <div class="slider__text">
                        Загубили гудзик? Не працює змійка?
                        Принесли джинси до іншого Ательє, а там потрібна своя змійка? Скоріше до нас, ми маємо великий
                        вибір фурнітури на любий смак і гаманець.
                    </div>
                    <a href="/accessories" class="slider__btn default-btn">
                        Детальніше
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="services" class="services">
    <div class="container">
        <div class="services__top">
            <div class="services__title-box">
                <div class="services__title">
                    Наші послуги
                </div>
                <div class="services__text">
                    Індивідуальний підхід до кожного клієнта. Доступна ціна.
                </div>
            </div>
        </div>
        <div class="services__items">
            <div class="services__item">
                <img src="img/about-1.png" alt="">
                <div class="services__item-title">
                    Пошив та ремонт
                </div>
                <div class="services__item-text">
                    <p>
                        Ательє по ремонту одягу - допоможе Вам одягнутися не тільки красиво, зручно, стильно, але й
                        унікально.
                        Адже те, що Ви носите, повинно бути в гармонії з Вашим внутрішнім світом.
                    </p>
                    <p>
                        Головні правила, якими ми керуємося в роботі - це безумовно якісно зшита річ і гарний настрій
                        клієнта.
                    </p>
                    Ми також можемо виконати перекрій і підігнання одягу по фігурі зі зміною фасону і додаванням нових
                    дизайнерських рішень.
                    Послуги з перекрою і підгонці одягу: підгін костюма, підгін плаща, підгін піджака, підгін плаття,
                    підгін пальто і т.д.
                    <p>
                        Здійснюємо також терміновий ремонт одягу: пришити латочку, ремонт коміра, заштопати джинси або
                        куртку, укоротити штани, спідницю і багато чого іншого.
                        Так само у нас є відділ з фурнітурою.
                    </p>
                </div>
                <div class="services__item-btn">
                    <a href="/repair" class="default-btn">
                        Детальніше
                    </a>
                </div>
            </div>
            <div class="services__item">
                <img src="img/about-2.png" alt="">
                <div class="services__item-title">
                    Реставрація подушок та перин
                </div>
                <div class="services__item-text">
                    <p>
                        Чистка подушок та перин на спеціальному сертифікованому обладнанні кожної подушки чи перини
                        окремо можливо в присутності замовника.
                    </p>
                    <p>
                        Очищення, разпушуванння, просушування та дезинфекція пухо-пір’яної маси.
                    </p>
                    <p>
                        Заміна напірника, зміна розміру і форми виробів на замовлення, підбір забарвлення на будь-який
                        смак з якісних тканин.
                        Чистка та пошиття, перешиття перин.
                    </p>
                    <p>
                        Результат чистки подушок - це здоровий та комфортний сон без алергії. Подаруйте друге життя
                        улюбленій подушці!
                    </p>
                </div>
                <div class="services__item-btn">
                    <a href="/pillow" class="default-btn">
                        Детальніше
                    </a>
                </div>
            </div>
            <div class="services__item">
                <img src="img/about-3.png" alt="">
                <div class="services__item-title">
                    Виробництво постільної білизни та подушок
                </div>
                <div class="services__item-text">
                    <p>
                        У нас Ви запросто підберете для себе постільну білизну, подушки, ковдри, наматрацники,
                        наволочки, напірники, простирадла і підковдри серед широкого асортименту.
                    </p>
                    <p>
                        Ви можете замовити у нас послугу пошиття постільних комплектів, вибравши тканину.
                    </p>
                    <p>
                        У нас Ви знайдете подушки різних ромірів та видів: для сну, дитячі, для вагітних та декоративні
                        на будь-який смак.
                    </p>
                    <p>
                        Ми виготовимо вироби виходячи з вашого замовлення і потреби. Ми гарантуємо якість пошиття і
                        матеріалу.
                    </p>
                    <p>
                        Працюємо з провідними виробниками тканини з Китаю, Пакистану, Білорусії та Узбекистану.
                    </p>
                </div>
                <div class="services__item-btn">
                    <a href="/linens" class="default-btn">
                        Детальніше
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__title">
                Про нас
            </div>
            <div class="about__text">
                "Ательє Мод" - це безліч задоволених клієнтів та надання якісних послуг з 2009 року. Доступні ціни,
                зручне розташування, індивідуальний підхід до кожного клієнта.
                <p>
                    Ваш комфорт - це наша робота!
                </p>
            </div>
        </div>
    </div>
</section>

<section id="news" class="news_review">
    <div class="container">
        <div class="news__top">
            <div class="news__title-box">
                <div class="news__title">
                    Відгуки та новини
                </div>
                <div class="news__text">
                    Читай відгуки про наше Ательє. Дізнайся, що нового відбувається у нас. Ознайомся із цікавими матеріалами.
                </div>
            </div>
        </div>
        <div class="news__inner">
            <div class="news__slider">
                <div class="news__slider-inner">
                    <div class="news__slider-item" th:each="el : ${reviews}">
                        <div class="news__slider-title" th:text="${el.getName()}"></div>
                        <div class="news__slider-text" th:text="${el.getText()}"></div>
                    </div>
                </div>
            </div>
            <div class="news__blog" th:each="el : ${news}">
                <div class="news__images">
                    <a href="/news">
                        <img th:src="${el.getImagePath(el.getId(), el.getImageType())}" alt="" class="news__image">
                    </a>
                    <div class="news__date" th:text="${el.getPublicationDateInString()}"></div>
                </div>
                <div class="news__blog-title" th:text="${el.getTitle()}"></div>
                <div class="news__blog-text" th:text="${el.getShortText()}"></div>
            </div>
        </div>
        <div class="news__bottom">
            <div class="review__btn">
                <a href="/review">
                    Відкрити всі відгуки
                </a>
            </div>
            <div class="news__btn">
                <a href="/news">
                    Відкрити всі новини
                </a>
            </div>
        </div>
    </div>
</section>

<section class="advantages">
    <div class="container">
        <div class="advantages__inner">
            <div class="advantages-item">
                <div class="advantages__title">
                    Сотні постійних клієнтів
                </div>
                <div class="advantages__text">
                    Люди довіряють нам, адже ми виконуємо свою роботу на совість!
                </div>
            </div>
            <div class="advantages-item">
                <div class="advantages__title">
                    Відмінне знання своєї справи
                </div>
                <div class="advantages__text">
                    Дозволяє нам швидко та якісно виконати будь-яку вашу забаганку.
                </div>
            </div>
            <div class="advantages-item">
                <div class="advantages__title">
                    Великий досвід
                </div>
                <div class="advantages__text">
                    Ми має великий досвід, тому ви точно будете задоволені.
                </div>
            </div>
        </div>
    </div>
</section>

<section id="form" class="form">
    <div class="container">
        <div class="form__inner">
            <div class="form__content">
                <div class="form__title-box">
                    <div class="form__title">
                        Залишити відгук
                    </div>
                    <div class="form__text">
                        Ми прислуховуємося до кожного нашого клієнта, тому будемо раді отримати Ваш відгук про нашу
                        роботу.
                    </div>
                </div>
                <div class="form__box">
                    <form id="review">
                        <div class="form__box-inner">
                            <div class="form__box-left">
                                <label>
                                    ПІБ
                                    <input type="text" id="review_name" name="name">
                                </label>
                                <label>
                                    Контактний телефон
                                    <input type="text" id="review_phone" name="phone" value="+38">
                                </label>
                                <div id="message_review" class="message"></div>
                                <button class="default-btn" type="submit">Залишити відгук</button>
                            </div>
                            <div class="form__box-right">
                                <label>
                                    Відгук
                                    <textarea name="text" id="review_text"
                                              placeholder="Обов'язково вкажіть справжнє ім'я та контактний телефон, якщо хочете, аби ваш відгук опублікували"></textarea>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="footer">
    <div th:insert="blocks/footer :: footer"></div>
</footer>

<div th:insert="blocks/forms :: login"></div>
<div th:insert="blocks/forms :: registration"></div>
<div th:insert="blocks/forms :: profile"></div>
<div th:insert="blocks/forms :: profile_admin"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.formstyler.min.js"></script>
<script src="js/jquery.malihu.PageScroll2id.min.js"></script>
<script src="js/main.js"></script>
<script src="js/slider.js"></script>

</body>

</html>