<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Постільна білизна</title>
    <link rel="icon" href="img/icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,500&amp;subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/services_style.css">
    <link rel="stylesheet" href="css/media.css">
</head>
<body>
<header class="header">
    <div th:insert="blocks/header :: header"></div>
</header>

<section class="about">
    <div class="container">
        <div class="about__top">
            <div class="about__title-box">
                <div class="about__title">
                    Постільна білизна
                </div>
                <div class="about__text">
                    Ми пропонуємо широкий асортиментний ряд готової продукції власного виробництва.
                    Різні розміри, варіації кольорів і малюнків, якісний, надійний текстиль і самі прийнятні ціни - все
                    це пропонує наша фірма.
                </div>
            </div>
            <div class="about__btn">
                <a href="/">
                    На головну
                </a>
            </div>
        </div>
        <div class="about__content">
            <p>
                <b>Пошиття постільної білизни</b> - одна з основних спеціалізацій швейного цеху «Ателье» Наше
                підприємство
                пропонує виготовлення та реалізацію якісної постільної білизни.
            </p>
            <p>
                Пошиття постільної білизни проводиться з трьох видів тканини:
            <ul>
                <li>Бязь</li>
                <li>Евросатин</li>
                <li>Жатка</li>
            </ul>
            </p>
            <p>
                Дані види текстилю ідеально підходять для такого виду продукції як постіль, яка є незамінним атрибутом
                кожної спальні. Для постільного комплекту, в першу чергу важливий матеріал, з якого він виготовлений.
                Вибір «одягу» для ліжка, досить важливе і серйозне питання, оскільки саме від цього буде залежати Ваш
                сон, який повинен бути спокійним і цілющим. Не варто недооцінювати ступінь важливості даного питання.
                Поринувши в улюблене ліжко, Ви повинні розслабитися і гарно виспатися, для того щоб набратися нових сил
                і здоров'я. Хто як не постільна білизна відіграє ключову роль?
            </p>
            <p>
                При виборі постільної білизни необхідно спочатку орієнтуватися не тільки на красу, але і на якість
                тканини і її надійність. Такий простий предмет інтер'єру як постільна білизна, здатний поліпшити Ваше
                самопочуття і підняти настрій. Важливу роль грає також колір вироба: обравши теплі пісочні або бежеві
                тони, ви створите атмосферу спокою і тепла. Різнобарвні тони бузкового, жовтого, зеленого, внесуть
                відчуття затишку і комфорту, а також нагадають про теплі літні нотки, а різні візерунки додадуть
                особливого настрою.
            </p>
            <p>
                Ми пропонуємо <b>пошиття постільної білизни на замовлення.</b> Ми гарантуємо високу якість роботи, швидкі
                терміни виконання замовлень, вигідні ціни та зручну систему оплати. Ми пропонуємо також реалізацію
                широкого вибору готових комплектів постільної білизни різних розмірів і кольорів. Вироби мають
                презентабельний зовнішній вигляд, а також характеризуються функціональністю і простотою догляду. Ви
                отримаєте високоякісний продукт, який буде Вас приємно радувати протягом тривалого часу.
            </p>
        </div>
    </div>
</section>

<footer>
    <div th:insert="blocks/footer :: footer"></div>
</footer>

<div th:insert="blocks/forms :: login"></div>
<div th:insert="blocks/forms :: registration"></div>
<div th:insert="blocks/forms :: logout"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>