<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управління подушками</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,500&amp;subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/admin_style.css">
</head>
<body>

<section class="header">
    <div class="container">
        <div class="header__top">
            <div class="header__title-box">
                <div class="header__title">
                    Управління подушками
                </div>
            </div>
            <div class="header__btn">
                <a href="/admin">
                    Панель адміністратора
                </a>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container">
        <div class="form__box">
            <form id="add__form" class="form" action="/add_pillow" method="post">
                <label>Ширина
                    <input type="text" name="width" placeholder="Ширина">
                </label>
                <label>Висота
                    <input type="text" name="height" placeholder="Висота">
                </label>
                <label>Ціна
                    <input type="text" name="price" placeholder="Ціна">
                </label>
                <input type="submit" value="Додати">
            </form>
            <form id="delete__form" class="form" action="/delete_pillow" method="post">
                <label>Введіть номер:
                    <input type="text" name="id" placeholder="Номер">
                </label>
                <input type="submit" value="Видалити">
            </form>
        </div>
        <div class="list">
            <table style="width:100%">
                <tr>
                    <th>Номер</th>
                    <th>Висота</th>
                    <th>Ширина</th>
                    <th>Ціна</th>
                </tr>
                <tr th:each="el : ${pillows}">
                    <td th:text="${el.getId()}"></td>
                    <td th:text="${el.getHeight()}"></td>
                    <td th:text="${el.getWidth()}"></td>
                    <td th:text="${el.getPrice()}"></td>
                </tr>
            </table>
        </div>
    </div>
</section>

</body>
</html>