<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Новини</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,500&amp;subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/news_style.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<header class="header">
    <div th:insert="blocks/header :: header"></div>
</header>

<section class="top">
    <div class="container">
        <div class="top__content">
            <div class="top__title-box">
                <div class="top__title">
                    Наші новини
                </div>
                <div class="top__text">
                    Переглядай актуальну інформацію про зміни у житті ательє.
                    <br>Читай різноманітні новини та цікаві статті.
                </div>
            </div>
            <div class="top__btn">
                <a href="/">
                    На головну
                </a>
            </div>
        </div>
    </div>
</section>

<section class="news">
    <div class="container">
        <div class="news__inner">
            <div class="news__items">
                <div class="news__item" th:each="el : ${news}">
                    <div class="news__title">
                        <div class="news__date" th:text="${el.getPublicationDateInString()}"></div>

                        <div class="news__item-title" th:text="${el.getTitle()}"></div>
                    </div>
                    <div class="news__item-text" th:utext="${el.getTextWithIndentation()}"></div>
                </div>
            </div>
            <nav class="pagination">
                <ul class="page">
                    <li class="page__item" th:each="el : ${newsNumber}">
                        <a class="page-link" th:href="'?page=' + ${el.toString()}" th:text="${el+1}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<footer>
    <div th:insert="blocks/footer :: footer"></div>
</footer>

<div th:insert="blocks/forms :: login"></div>
<div th:insert="blocks/forms :: registration"></div>
<div th:insert="blocks/forms :: logout"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/main.js"></script>

</body>

</html>