<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Відгуки</title>
    <link rel="icon" href="img/icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,500&amp;subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/review_style.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
</head>
<body>
<header class="header">
    <div th:insert="blocks/header :: header"></div>
</header>

<section class="top">
    <div class="container">
        <div class="top__content">
            <div class="top__title-box">
                <div class="top__title">
                    Відгуки про нас
                </div>
                <div class="top__text">
                    Наше Ательє має безліч задоволених клієнтів, з відгуками яких ви можете ознайомитись.
                    <br>Якщо Ви також хочете залишити відгути, то можете це зробити заповнивши форму на головній сторінці.
                </div>
            </div>
            <div class="top__btn">
                <a href="/">
                    На головну
                </a>
            </div>
        </div>
    </div>
</section>

<section class="review">
    <div class="container">
        <div class="review__content">
            <div class="review__items">
                <div class="review__item" th:each="el : ${page}">
                    <div class="review__title">
                        <div class="review__image">
                            <img src="/img/review.png" alt="">
                        </div>
                        <div class="review__item-title" th:text="${el.getName()}"></div>
                    </div>
                    <div class="review__item-text" th:text="${el.getText()}"></div>
                </div>
            </div>
            <nav class="pagination">
                <ul class="page">
                    <li class="page__item" th:each="el : ${pageNumber}">
                        <a class="page-link" th:href="'?page=' + ${el.toString()}" th:text="${el+1}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<footer>
    <div th:insert="blocks/footer :: footer"></div>
</footer>
</body>

<div th:insert="blocks/forms :: login"></div>
<div th:insert="blocks/forms :: registration"></div>
<div th:insert="blocks/forms :: logout"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/main.js"></script>

</body>

</html>