<div th:fragment="footer">
    <div class="footer__content">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__info">
                    <div class="footer__title">
                        Графік роботи
                    </div>
                    <div class="footer__text">
                        Понеділок: 9:00 - 17:30<br/>
                        Вівторок: 9:00 - 17:30<br/>
                        Середа: 9:00 - 17:30<br/>
                        Четвер: 9:00 - 17:30<br/>
                        П'ятниця: 9:00 - 17:30<br/>
                        Субота: 10:00 - 15:00<br/>
                        Неділя: вихідний<br/>
                    </div>
                    <ul class="footer__list">
                        <li><a class="footer__phone" href="tel:380669365234">+38 (066) 936 52 34</a></li>
                        <li><a class="footer__email" href="mailto:atelier.lozova@gmail.com">atelier.lozova@gmail.com</a>
                        </li>
                        <li><a class="footer__adress" href="https://goo.gl/maps/g4ndmpqxzFRNGxnk9">Лозова, м-н 1, 21</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__map">
                    <iframe height="250px"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d655.9642979163693!2d36.289527!3d48.8799989!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xccd2ef3688aba3de!2z0JDRgtC10LvRjNC1INCc0L7QtCDQuCDQoNC10YHRgtCw0LLRgNCw0YbQuNGPINCf0L7QtNGD0YjQtdC6!5e0!3m2!1sru!2sua!4v1617912458313!5m2!1sru!2sua"
                            frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copy">
        <div class="container">
            <div class="copy__text">
                © 2021 Designed by Ruslan Makhanov. Усі права під захистом.
            </div>
        </div>
    </div>
</div>