<div th:fragment="header">
    <div class="header__top">
        <div class="container">
            <div class="header__contacts">
                <a class="header__phone" href="tel:380669365234">+38 (066) 936 52 34</a>
                <a class="header__email" href="mailto:atelier.lozova@gmail.com">atelier.lozova@gmail.com</a>
                <a id="login_link" data-fancybox data-src="#login" th:attr="data-src=${logstatus}" href="javascript:"
                   class="header__btn" th:text="${username}"></a>
            </div>
        </div>
    </div>
</div>